version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - '4000:4000'
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_USER=tm_user
      - POSTGRES_PASSWORD=tm_pass
      - POSTGRES_DB=tm_db
    depends_on:
      - postgres
  discord_bot:
    build: ./discord_bot
    environment:
      - DISCORD_TOKEN
      - DISCORD_CLIENT_ID
      - DISCORD_GUILD_ID
    depends_on:
      - backend
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: tm_user
      POSTGRES_PASSWORD: tm_pass
      POSTGRES_DB: tm_db
    volumes:
      - pgdata:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4:7
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '8080:80'
    depends_on:
      - postgres
volumes:
  pgdata:
